* {
    margin: 0px;

}
body {
    background: #F6F5F3;
    display: flex;
    flex-direction: column;
    align-items: center
}
.header {
    background: url(../orderListImage/Header-1024.png) 50% 0% no-repeat white;
    height: 199px;
    width: 100%;
    border-bottom: 1px solid #e3e3e5;
}
.content {
    padding-left: 26px;
    padding-right: 26px;
}
.breadcrumbs{
    background: url(../orderListImage/breadcrumbs.png) no-repeat 0% 50%;
    margin-top: 16px;
    margin-bottom: 12px;
    height: 44px;
    width:100%;
}
.page {
    width:972px;
    min-height: 600px;
    display: grid;
    grid-template-columns: 222px 678px;
    column-gap: 24px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(74,74,74,0.20);
    border-radius: 6px;
    box-sizing: border-box;
}
.side-menu {
    background: url(../orderListImage/aside-1024.png) no-repeat;
}
.mainContent {
    background: white;
}
.column-menu {
    background: url(../orderListImage/ActionBar-1024.png) no-repeat;
    height: 54px;
    margin-bottom: 24px;
}
.row {
/*    background: url(../images/Card-Normal-1.png);*/
    height: 120px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.row:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.active {
    background: red;
    height: 184px;
}
.row + .row {
    margin-top: 16px;
}
.days{
    background: url(../orderListImage/10Days.png) no-repeat;
    height: 24px;
    margin-bottom:8px;
}
.month{
    background: url(../orderListImage/Month.png) no-repeat;
    height: 24px;
    margin-bottom:8px;
    margin-top: 40px;
}